<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <form>
        <div class="alert alert-danger" role="alert"  
             style = "display:block;">
             {{ error_msg}}
        </div>
        <h3>Введите математическое выражение</h3>
        <input type="text" placeholder="1 * 2 - 3">
        <button type="submit">Подтвердить</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Введеная строка</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {% for el in history %}
            <tr>
                <td>{{ el.expression }}</td>
                <td>{{ el.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
