.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

form {
  margin-bottom: 40px;
}

.base-expression {
  display: block;
  width: 100%;
  justify-content: center;
}

.expression-item {
  display: block;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 20px;
  align-items: center;
}

.expression-item > *{
  margin-bottom:10px;
}

.expression-item input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.expression-item strong {
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #45a049;
}

button:hover {
  background-color: #169c1d;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}

.alert-danger {
  display: none;
  color: white;
  background-color: red;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-danger.show {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

/* .refresh-button {
  background-color: #1f5a9e;
}

.refresh-button:hover {
  background-color: #305580;
} */